In [6]:
pw = "Q1"

In [1]:
a = "MAYANK"

In [2]:
b = [1,2,3,3,'sudu',(3+7j),True,34.56 ]

In [3]:
c = 2.44

In [7]:
d = (1,2,3,3,'sudu',(3+7j),True,34.56 )

In [8]:
pw ="Q2"

In [9]:
e =['var1,2sting','var3list','var4int']

In [1]:
pw = "Q3"

In [3]:
a = 41
b = 21
ans = a / b
print(result)

1.9523809523809523

In [5]:
a = 47
b = 22
ans = a % b
print(result)

3

In [8]:
a = 14
b = 4
ans = a // b
print(result)

3

In [10]:
a = 3
b = 4
ans = a ** b
print(result)

81

In [11]:
pw="Q4"

In [13]:
s = [11, "mohit", 3.16, False, [1, 2, 5], {"name": "Mayank", "age": 21}, None, (4, 5, 6), False, "rahul"]

for element in s:
    print(element, type(element))

11 <class 'int'>
mohit <class 'str'>
3.16 <class 'float'>
False <class 'bool'>
[1, 2, 5] <class 'list'>
{'name': 'Mayank', 'age': 21} <class 'dict'>
None <class 'NoneType'>
(4, 5, 6) <class 'tuple'>
False <class 'bool'>
rahul <class 'str'>

In [14]:
pw ="Q5"

In [2]:
A = int(input("Enter the dividend (number A): "))
B = int(input("Enter the divisor (number B): "))

count = 0  

while A % B == 0:
    A = A // B  
    count += 1  

if count > 0:
    print(f"The number A is divisible by B, and it can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

Enter the dividend (number A):  12
Enter the divisor (number B):  2

The number A is divisible by B, and it can be divided 2 times.

In [3]:
pw ="Q6"

In [4]:
A = [6, 12, 7, 18, 9, 22, 30, 4, 15, 27, 36, 13, 19, 21, 33, 10, 8, 25, 17, 14, 31, 28, 16, 20, 11]

for num in A:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

6 is divisible by 3
12 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
9 is divisible by 3
22 is not divisible by 3
30 is divisible by 3
4 is not divisible by 3
15 is divisible by 3
27 is divisible by 3
36 is divisible by 3
13 is not divisible by 3
19 is not divisible by 3
21 is divisible by 3
33 is divisible by 3
10 is not divisible by 3
8 is not divisible by 3
25 is not divisible by 3
17 is not divisible by 3
14 is not divisible by 3
31 is not divisible by 3
28 is not divisible by 3
16 is not divisible by 3
20 is not divisible by 3
11 is not divisible by 3

In [1]:
#mutable datatype are datatype whoes value is assigned everytime it is created and in immutable datatypes its valued is first seareched if it is already present it will create a reference to it 
st='aditya'
st[2]='y'
#the above line will throw an error because it is immutable

TypeError: 'str' object does not support item assignment

In [3]:
a=30
print(a)
a=40
print(a)
#this show the mutable characterstic of the integer variable

30
40